{% extends "base.html.twig" %}

{% block carousel %}
    
{% endblock %}

{% block content %}

<!-- Votre projet -->
<div class="container">
    <div class="row, votre-projet">
        <div class="col-lg-12 , text-center" >
            <img src="{{ asset('assets/img/logo_stc_200x200.png')}}" class="home-logo" alt="logo STC">

            <h1>Conseil en immobilier d'entreprise</h1>
            <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur 
            agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando
            temptatum commentum adgressus. quod si impetrasset,fulminis modo cuncta vastarat. erat autem quod
            cogitabat huius modi.</p>
        
        </div>
    </div>
</div>
<!-- /END Votre projet -->

<!-- louer / acheter -->

<div class="container">
        <hr class="featurette-divider">


        <div class="row featurette">
            <div class="col-md-7 order-md-2">
            
                <h3 class="featurette-heading">Confier nous votre bien</h3>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                 Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. <a href="{{path('contact') }}"> Contacter notre expert </a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('assets/img/1_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading">Estimer mon bien</h3>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. <a href="{{path('contact') }}"> Contacter notre expert </a></p>
                
            </div>
            <div class="col-md-5">
                <img src="{{asset('assets/img/2_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">

            </div>
        </div>

        
</div>

<!-- /END louer / acheter -->
<!-- nos clients -->

<section>

    <article class="nos-avis">
    <h1>Avis-clients</h1>
        
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <div class="avis-clients">
                    <h5>Nom du societe</h5>
                    <p>" Equipe jeune et dynamique <br> je recommande "</p>
                    <a href="{{path('references') }}">> En savoir plus</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="avis-clients">
                    <h5>Nom du societe</h5>
                    <p>" j'ai aimé collaborer avec STC <br>pour leur fiabilité "</p>
                    <a href="{{path('references') }}">> En savoir plus</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="avis-clients">
                    <h5>Nom du societe</h5>
                    <p>" ils ont su être à mon écoute.<br> et très réactif "</p>
                    <a href="{{path('references') }}">> En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

            
        
    </article>

        <!--<div class="row bgimage">
            <div class="col-md-12">
                <div id="background-img">
                    <h1>Avis-clients</h1>
                    <img src="{{asset('assets/img/fondconfiancer.jpg')}}" alt="background-avis-clients">
                </div>
            </div>
        </div>-->
    
</section>


<!-- /END nos clients -->





<!-- message de réassurance -->
<div class="container">
       
        <div class="row messageReassurance">
            <div class="col-lg-12 , text-center" >
             <h2>Plusieurs façons de collaborer ensemble</h2>
                
            </div>

            
        
            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_ampoule.png')}}" class='img-fluid' alt="logo_société"></br>
                
                <p>Nous mettons notre créativité à votre service</p>
                
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_cible.png')}}" class='img-fluid' alt="logo_société">
                
                <p>Nous trouverons les produits que vous cherchez</p>
                
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_reseau.png')}}" class='img-fluid' alt="logo_société">
                
                <p>Bénéficie de notre réseau et de votre savoir-faire</p>
                
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
</div>
<!-- / END message de réassurance -->

    





{% endblock %}