{% extends "base.html.twig" %}

{% block carousel %}
    
{% endblock %}

{% block content %}

<!-- Votre projet -->
<div class="container">
    <div class="row, votre-projet">
        <div class="col-lg-12 , text-center" >
            <img src="{{ asset('assets/img/logo_stc_200x200.png')}}" class="home-logo" alt="logo STC">
            <h1>STC : Vente et location de locaux d’activités dans le Val-d’Oise</h1>
            <p>À la recherche de <strong>locaux à louer ou à vendre dans le 95 </strong>? <strong>STC </strong>vous accompagne pour trouver le local d’activités dont vous avez besoin.</p>
            <p>Nous cumulons <strong>une expérience de plus de 10 ans</strong> sur le marché des locaux d’activités dans le Val-d’Oise.</p>
            <p>Que vous soyez <strong>utilisateur, propriétaire privé ou bien investisseur </strong>nous saurons répondre à votre problématique en immobilier d'entreprise dans le Val d’Oise.</p>
            <p>Que votre actif soit un <strong>local d'activités, un entrepôt ou bien des bureaux</strong> nous saurons trouver la meilleure solution aux meilleures conditions pour votre projet de location ou d’achat de locaux dans le 95.</p>
            <p>Quel que soit votre projet en immobilier d'entreprise sur des secteurs comme l'agglomération de Cergy-Pontoise - Saint Ouen l'Aumône, le bassin d'Argenteuil, l'axe autoroutier A15-A115 ou ailleurs dans le 95, STC répond à vos attentes.</p>
            <h2>Locaux à louer dans le 95</h2>
            <p>Vous souhaitez rester flexible ? Découvrez <a href="https://www.stc-immobilier.fr/nos-produits?string=&amp;typeOffre=Location&amp;prixMin=&amp;prixMax=&amp;surfaceMin=&amp;surfaceMax=&amp;submit=&amp;_token=67f4831adf726e4efa2da586abb76434._7RVwJdphBP7elIHJOV95shbFfX_q_yvED6fgAVk3qY.lIUnsOUwsXiLODpQXoQRjZozZLa6xIXnSnnNxT0LufybzC-T2Qe9eaIrHw">notre sélection de locaux à louer</a> dans le Val-d’Oise.</p>
            <h2>Locaux à vendre dans le 95</h2>
            <p>Vous souhaitez investir dans vos propres locaux ? Nous disposons d’un <a href="https://www.stc-immobilier.fr/nos-produits?string=&amp;typeOffre=Vente&amp;prixMin=&amp;prixMax=&amp;surfaceMin=&amp;surfaceMax=&amp;submit=&amp;_token=1dca56f6f7cefdd28cba768c3.2Po5CVFkrJHcvRfTcnQzHqS35AuxPvzozfXqRyRRgqg.s8tLeSM9mfqs_3-ECBVfdfbflUj0UYWgl7K4Ahw-5fK8gkNaHwqV-4XsWg">vaste choix de locaux à vendre</a> dans le Val-d’Oise.</p>
        
        </div>
    </div>
</div>
<!-- /END Votre projet -->

<!-- louer / acheter -->

<div class="container">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
            
                <h1 class="featurette-heading">Confiez-nous votre bien à louer ou à vendre dans le 95</h1>
                <p>STC aide les propriétaires dans leur projet de location et de vente de leurs locaux. Nous vous accompagnons de <strong>l’estimation de votre bien</strong>, grâce à une étude approfondie de votre bâtiment, jusqu'à la <strong>transaction </strong>de celui-ci à la vente ou à la location.</p>
                <p>Nous commercialisons votre bien en le rendant plus attractif et en le valorisant auprès des entreprises et des investisseurs à la recherche de <strong>locaux d'activités / bureaux</strong>.</p>
                <p>Chez STC, nous avons l’habitude de travailler avec des propriétaires locaux qui nous confient leur bien depuis plusieurs années. Nous travaillons également avec des propriétaires institutionnels qui apprécient notre réactivité et notre connaissance du marché <strong>grâce à notre implantation dans le Val-d’Oise</strong>.</p>
                <p>La <strong>confiance et la fidélité </strong>sont au cœur des relations que nous entretenons avec les différentes personnes et sociétés qui nous confient leur projet immobilier professionnel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('assets/img/1_500x500.jpg')}}" class='img-fluid' alt="STC est là pour vous tout au long du projet">
            </div>
        </div>
         <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading">Estimation de votre bien</h1>
                <p>Connaître la valeur de son bien au sein d’un marché en perpétuel mouvement n'est pas chose aisée. En confiant votre local d’activités ou votre entrepôt à STC, nous utilisons notre expertise pour <strong>estimer la valeur de votre bien avec précision</strong>.</p>
                <p>Pour échanger avec un conseiller et pour obtenir des informations supplémentaires, n’hésitez pas à utiliser notre <a href="https://www.stc-immobilier.fr/nous-contacter">page de contact</a>.</p>
                
            </div>
            <div class="col-md-5">
                <img src="{{asset('assets/img/2_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">

            </div>
        </div>
</div>

<!-- /END louer / acheter -->
<!-- nos clients -->

<section>

    <article class="nos-avis">
    <h1>Avis-clients</h1>
        
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <div class="avis-clients">
                    <h5>SADE</h5>
                    <p>" Equipe jeune et dynamique <br> je recommande "</p>
                    <a href="{{path('references') }}">-> En savoir plus.</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="avis-clients">
                    <h5>TERRALIS</h5>
                    <p>" j'ai aimé collaborer avec STC <br>pour leur fiabilité "</p>
                    <a href="{{path('references') }}">-> En savoir plus.</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="avis-clients">
                    <h5>SVM PROMOTION</h5>
                    <p>" ils ont su être à mon écoute.<br> et très réactif "</p>
                    <a href="{{path('references') }}">-> En savoir plus.</a>
                </div>
            </div>
        </div>
    </div>
     
    </article>

        <!--<div class="row bgimage">
            <div class="col-md-12">
                <div id="background-img">
                    <h1>Avis-clients</h1>
                    <img src="{{asset('assets/img/fondconfiancer.jpg')}}" alt="background-avis-clients">
                </div>
            </div>
        </div>-->
    
</section>


<!-- /END nos clients -->

<!-- message de réassurance -->
<div class="container">
       
        <div class="row messageReassurance">
            <div class="col-lg-12 , text-center" >
             <h2>Plusieurs façons de collaborer ensemble</h2>
                
            </div>

            
        
            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_2.png')}}" class='img-fluid' alt="logo_société"></br>
                <p>+ de 20 transactions / an.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_1.png')}}" class='img-fluid' alt="logo_société">
                <p>+ 10 000 m² transactés.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_3.png')}}" class='img-fluid' alt="logo_société">
                <p>+ de 10 ans d'expérience sur le marché.</p>
            </div>
        </div><!-- /.row -->
</div>
<!-- / END message de réassurance -->

{% endblock %}