{% extends "base.html.twig" %}

{% block carousel %}
    
{% endblock %}

{% block content %}

<!-- Votre projet -->
<div class="container">
    <div class="row, votre-projet">
        <div class="col-lg-12 , text-center" >
            <img src="{{ asset('assets/img/logo_stc_200x200.png')}}" class="home-logo" alt="logo STC">

            <h1>Conseil en immobilier d'entreprise</h1>
            <p>Un projet en immobilier d'entreprise n'est jamais simple à réaliser, 
            que vous soyez utilisateurs, propriétaires ou investisseurs nous serons vous accompagnons 
            et vous orientons vers une stratégie adaptée. 
            Fort d'une <strong>expérience de plus de 10 ans</strong> sur le marché des locaux d'activités et Bureaux en Ile de France, nous serons mettre à profit notre expérience et notre réactivité afin de répondre au mieux à votre cahier des charges. </p>
        
        </div>
    </div>
</div>
<!-- /END Votre projet -->

<!-- louer / acheter -->

<div class="container">
        <hr class="featurette-divider">


        <div class="row featurette">
            <div class="col-md-7 order-md-2">
            
                <h3 class="featurette-heading">Confiez-nous votre bien</h3>
                <p>Propriétaire de vos locaux, vous cherchez à louer ou à vendre ?</br> 
                Nous commercialisons votre bien aux meilleurs valeurs et vous mettons en relation
                avec notre portefeuille de clients.
                Nous travaillons main dans la main avec des 
                propriétaires locaux, type SCI qui nous confient leur bien depuis plusieurs années.
                Cette fidélité nous permet une transparence et une connaissance parfaite de leur patrimoine.
                Nous travaillons également avec des propriétaires institutionnelles qui apprécient notre réactivité et notre connaissance du marché grâce à notre implantation locale.</br></br>
                <a href="{{path('contact') }}"> -> Contacter notre expert.</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('assets/img/1_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading">Estimer mon bien</h3>
                <p>Connaitre la valeur de son bien face à un marché en perpétuel mouvement n'est pas
                simple. Pour cela nous mettons à votre disposition notre connaissance du marché à
                 travers nos différentes transactions ainsi que notre portefeuille de biens disponibles afin de
                 vous apporter un avis de valeur à la location ou à la vente.</br></br>
                 <a href="{{path('contact') }}"> -> Contacter notre expert. </a></p>
                
            </div>
            <div class="col-md-5">
                <img src="{{asset('assets/img/2_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">

            </div>
        </div>

        
</div>

<!-- /END louer / acheter -->
<!-- nos clients -->

<section>

    <article class="nos-avis">
    <h1>Avis-clients</h1>
        
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <div class="avis-clients">
                    <h5>SADE</h5>
                    <p>" Equipe jeune et dynamique <br> je recommande "</p>
                    <a href="{{path('references') }}">-> En savoir plus.</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="avis-clients">
                    <h5>TERRALIS</h5>
                    <p>" j'ai aimé collaborer avec STC <br>pour leur fiabilité "</p>
                    <a href="{{path('references') }}">-> En savoir plus.</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="avis-clients">
                    <h5>SVM PROMOTION</h5>
                    <p>" ils ont su être à mon écoute.<br> et très réactif "</p>
                    <a href="{{path('references') }}">-> En savoir plus.</a>
                </div>
            </div>
        </div>
    </div>

            
        
    </article>

        <!--<div class="row bgimage">
            <div class="col-md-12">
                <div id="background-img">
                    <h1>Avis-clients</h1>
                    <img src="{{asset('assets/img/fondconfiancer.jpg')}}" alt="background-avis-clients">
                </div>
            </div>
        </div>-->
    
</section>


<!-- /END nos clients -->





<!-- message de réassurance -->
<div class="container">
       
        <div class="row messageReassurance">
            <div class="col-lg-12 , text-center" >
             <h2>Plusieurs façons de collaborer ensemble</h2>
                
            </div>

            
        
            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_2.png')}}" class='img-fluid' alt="logo_société"></br>
                <p>+ de 20 transactions / an.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_1.png')}}" class='img-fluid' alt="logo_société">
                <p>+ 10 000 m² transactés.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/picto_3.png')}}" class='img-fluid' alt="logo_société">
                <p>+ de 10 ans d'expérience sur le marché.</p>
            </div>
        </div><!-- /.row -->
</div>
<!-- / END message de réassurance -->

    





{% endblock %}