{% extends 'base.html.twig' %}

{% block title %}références{% endblock %}

{% block content %}
    <div class="container">
       
        <div class="row references">
            <div class="col-lg-12 , text-center" >
             <h2>Ils nous ont fait confiance !</h2>
                <p>Nous collaborons avec des entreprises connues sur tout le territoire national,</br>
                 des groupes à dimension international ainsi que des PME qui ne cessent de s'agrandir au fil des années. </p>
            </div>

        <hr class="featurette-divider">

            
        
            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_2.png')}}" class='img-fluid' alt="logo_sade">
                <h5>SADE</h5>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            </div> 

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_6.png')}}" class='img-fluid' alt="logo_GROUPE TEZ">
                <h5>GROUPE TEZ</h5>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div> 

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_3.png')}}" class='img-fluid' alt="logo_ESE">
                <h5>ESE</h5>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_5.png')}}" class='img-fluid' alt="logo_LE JARDIN DES SENS">
                <h5>LE JARDIN DES SENS</h5>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_9.png')}}" class='img-fluid' alt="logo_TRENOIS DECAMPS">
                <h5>TRENOIS DECAMPS</h5>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_8.png')}}" class='img-fluid' alt="logo_SEPA">
                <h5>SEPA</h5>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
             </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_4.png')}}" class='img-fluid' alt="logo_H2K">
                <h5>H2K</h5>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_7.png')}}" class='img-fluid' alt="logo_SPIRIT">
                <h5>SPIRIT</h5>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>

            <div class="col-lg-4">
                <img src="{{asset('assets/img/logo_1.png')}}" class='img-fluid' alt="logo_ARC EIFFEL">
                <h5>ARC EIFFEL</h5>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
        </div><!-- /.row -->
    </div>  
<!-- / END message de réassurance -->
{% endblock %}
