{% extends 'base.html.twig' %}

{% block title %}références{% endblock %}

{% block content %}
<div class="container">
       
    <div class="row references">
        <div class="col-lg-12 , text-center" >
            <h1>Ils font confiance à STC pour leurs locaux</h1>
            <p>STC collabore avec des entreprises reconnues à <strong>l’échelle nationale</strong>, des groupes à <strong>dimension internationale</strong>, ainsi qu’avec des <strong>PME</strong> à la recherche de <strong>locaux à louer, à vendre ou à acheter dans le Val-d’Oise</strong>.</p>
            <p>Qu’il s’agisse d’entreprises installées depuis longtemps ou nouvellement créées, STC veille à construire une <strong>relation de confiance</strong> avec chacune d’entre elles.</p>
        </div>

    <hr class="featurette-divider">
    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_2.png')}}" class='img-fluid' alt="logo_sade">
        <h5>SADE</h5>
        {# <p>Description</p> #}
    </div> 

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_6.png')}}" class='img-fluid' alt="logo_GROUPE TEZ">
        <h5>GROUPE TEZ</h5>
    </div> 

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_3.png')}}" class='img-fluid' alt="logo_ESE">
        <h5>ESE</h5>
    </div>

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_5.png')}}" class='img-fluid' alt="logo_LE JARDIN DES SENS">
        <h5>LE JARDIN DES SENS</h5>
    </div>

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_9.png')}}" class='img-fluid' alt="logo_TRENOIS DECAMPS">
        <h5>TRENOIS DECAMPS</h5>
    </div>

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_8.png')}}" class='img-fluid' alt="logo_SEPA">
        <h5>SEPA</h5>
    </div>

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_4.png')}}" class='img-fluid' alt="logo_Kohler">
        <h5>Kohler</h5>
    </div>

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_7.png')}}" class='img-fluid' alt="logo_SPIRIT">
        <h5>SPIRIT</h5>
    </div>

    <div class="col-lg-4">
        <img src="{{asset('assets/img/logo_1.png')}}" class='img-fluid' alt="logo_ARC EIFFEL">
        <h5>ARC EIFFEL</h5>
    </div>

    </div><!-- /.row -->
</div>  
<!-- / END message de réassurance -->
{% endblock %}
