{% extends 'base.html.twig' %}

{% block title %}références{% endblock %}

{% block content %}
    <div class="container">
       
        <div class="row references">
            <div class="col-lg-12 , text-center" >
             <h2>Ils nous ont fait confiance !</h2>
                <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur 
                agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando
                temptatum commentum adgressus. quod si impetrasset,fulminis modo cuncta vastarat. erat autem quod</p>
            </div>

        <hr class="featurette-divider">

            
        
            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_1.png')}}" class='img-fluid' alt="logo_société">
                
                <h5>Nom société</h5>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_10.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_3.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_4.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
             </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_5.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_6.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
             </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_7.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_8.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="{{asset('assets/img/so_9.png')}}" class='img-fluid' alt="logo_société">
                <h5>Nom société</h5>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>  
<!-- / END message de réassurance -->
{% endblock %}
