{% extends 'base.html.twig' %}


{% block title %}Nos produits - STC{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Filtrer</h2>
            {{form(form)}}
        </div>
        <div class="col-md-9">
            <h2>Nos produits</h2>

            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="{{path('product', { 'slug' : product.slug })}}"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class='img-fluid'></a>
                            {% if product.offrepro == true %}
                                <img src="{{ asset('assets/img/vip.png')}}" class="product-picto" alt="picto vip">
                                <span class="product-privilege"> Offre privilège</span>
                            {% endif %}
                            <h6>{{product.name}}</h6>
                            {% if product.prix != 0 %} 
                            <span class="product-prix">Prix : {{(product.prix /100)|number_format(0, ',', ' ') }}€</span></br>
                            {% endif %}
                            {% if product.loyer != 0 %}
                            <span class="product-prix"> loyer : {{(product.loyer /100)|number_format(0, ',', ' ') }}€</span></br>
                            {% endif %}
                            <span class="product-surface">Surface : {{product.surface|number_format(2, ',', ' ') }}m2</span></br>
                            <span class="product-dispoDate">Dispo : {{product.dispoDate}} </span></br>
                            
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

